<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270170293212-e2donbeflli51mjjkat1ctcrhqpa2com.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270170293212-e2donbeflli51mjjkat1ctcrhqpa2com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFQMOcDzBlGWZSoeRlnliejntAaeaDSGs</string>
	<key>GCM_SENDER_ID</key>
	<string>270170293212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codecademy.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-283f3</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-283f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270170293212:ios:0aa8541f5d06f12fa2c519</string>
</dict>
</plist>